<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'common.html' %}
    <meta charset="UTF-8">
    <title>{% block title %}登录页{% endblock %}</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/hello.js') }}"></script>
</head>
<body>
    {% block container %}
    <p>Login</p>
    <form method="post">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit" onclick="test_sign_in()" value="Login">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
           {% for message in messages %}
                <p>{{ message }}</p>
           {% endfor %}
        {% endif %}
    {% endwith %}
    {% endblock %}
</body>
</html>